.footer {
    height: 300px;
    width: 100%;
    background: linear-gradient(180deg, #c9c9c9, #fff);
    box-shadow: 0px 0px 13px #000000;
}

#stripe {
    background-color: black;
    color: white;
    place-items: center;
}

p {
    margin: 0 0 0 30px;
}